<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel = "stylesheet" href="/css/styles.css">
  <title>Ginger</title>
</head>
<body>
    <main>
      <header>
        <nav>
          <div class="logo">
            <img src="/images/ginger-logo.png">
          </div>
          <div class="menu-hamburger">
            <ul class="menu">
              <li><a class="menuItem" href="#">Home</a></li>
              <li><a class="menuItem" href="#">Profile</a></li>
              <li><a class="menuItem" href="#">About</a></li>
              <li><a class="menuItem" href="#">Contacts</a></li>
            </ul>
            <button class="hamburger">
              <i class="menuIcon material-icons">menu</i>
              <i class="closeIcon material-icons">close</i>
            </button>
          </div>
        </nav>
      </header>
      <section class="carrousel"></section>
      <section class="mission"></section>
      <section class="products"></section>
      <footer>
        <div>
          <ul>
            <li><h5>Contacto</h5></li>
            <li>222-55590</li>
            <li>info@ginger.com.ar</li>
          </ul>
        </div>
        <div>
          <ul>
            <li><h5>Dirección</h5></li>
            <li><p> 2036 akjfakjjlkjaf</p></li>
          </ul>
        </div>
        <div>
          <ul>
            <li><h5>Horarios</h5></li>
            <li>Lunes a viernes: 7:30 a 10:00</li>
          </ul>
        </div>
        <div>
          <ul>
            <li><h5>Encuentranos</h5></li>
            <li>Facebook</li>
            <li>Instagram</li>
          </ul>
        </div>

      </footer>

    </main>
    <script src="/js/home.js">

    </script>
</body>
</html>