* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Title";
  src: local("Impossible"),
    url("/fonts/Impossible.otf") format("opentype");
}

/********************* Menu Styles ****************/

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

.logo {
  border: solid 1px red;
}

.logo img {
  margin-top: .5rem;
  margin-left: 1rem;
  width: 60px;
}

/********************* Section Styles ****************/

.carrousel {
  height: 200px;
  background-color: antiquewhite;
}
.mission {
  height: 200px;
  background-color: rgb(69, 0, 72);
}
.products {
  height: 200px;
  background-color: rgb(39, 15, 180);
}

/********************* Footer Styles  ****************/

footer{
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

footer ul {
  list-style: none;
}

footer h5 {
  margin-bottom: 1rem;
  font-family: "Title";
  font-size: 2.5rem;
}