* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Title";
  src: local("Impossible"), url("/fonts/Impossible.otf") format("opentype");
}

/********************* Menu Styles ****************/

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.5rem;
  color: #230e0e;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.closeIcon {
  display: none;
  background: rgb(255, 77, 0.5);
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgb(255, 77, 0);
  opacity: 85%;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

.logo {
  position: fixed;
  z-index: 99;
}

.logo img {
  margin-top: 0.5rem;
  margin-left: 1rem;
  width: 60px;
}

/********************* Carrousel Styles  ****************/
.carrousel {
  margin: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  /* Funciona el margin auto con posicion relative */
}

/* Next and previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  /* Para alinear los "span" */
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* este .carrousel img es solo demostrativo */
.carrousel img {
  width: 100%;
  height: 100%;
  margin: auto;
}

/********************* Seccion Styles  ****************/

.mission {
  margin: 4rem 2rem 2rem;
}

.mission h2 {
  color: rgb(255, 77, 0);
  font-family: "Title";
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
}

.mission p {
  color: rgb(57, 15, 5);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1, 5rem;
}

.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
}

.categorias a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: rgb(255, 77, 0);
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 12px;
  width: 90%;
  text-align: center;
  margin: 0.7rem;
}

.categorias a:hover {
  background-color: #5b2d2d
}

.products {
  margin: 4rem 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products article {
  background-color: rgb(251, 247, 241);
  border-radius: 8px;
  margin: 0.5rem;
  padding: 1rem;
  width: 100%;
  box-shadow: 0px 0px 42px 1px rgba(57, 15, 5, 0.2);
  -webkit-box-shadow: 0px 0px 42px 1px rgba(57, 15, 5, 0.2);
  -moz-box-shadow: 0px 0px 42px 1px rgba(57, 15, 5, 0.2);
}

.products article img {
  width: 100%;
  border-radius: 5px;
}

.products article h3 {
  font-family: "Title";
  font-size: 2rem;
  font-weight: 100;
  color: rgb(57, 15, 5);
  text-align: center;
}

.products article p {
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

/********************* Footer Styles  ****************/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: rgb(255, 77, 0);
}

footer div {
  margin-top: 20px;
  width: 100%;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: flex;
}

footer h5 {
  font-family: "Title";
  font-size: 2rem;
  font-weight: 100;
  color: #f2f2f2;
}

footer li {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #f2f2f2;
}

footer a {
  margin-left: 0;
  color: #f2f2f2;
  margin-top: 0.5rem;
}

/************* Media Query **************/

@media (min-width: 576px) {
  .products article {
    width: 45%;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  footer div {
    margin-top: 20px;
    width: 50%;
  }

  footer a:hover {
    color: #230e0e;
  }

  .categorias {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}

@media (min-width: 992px) {
  .products article {
    width: 30%;
  }

  footer {
    flex-wrap: wrap;
  }

  footer div {
    width: 20%;
  }
}